<h1> Images </h1>


{{numb}}


<img src ="{{img}}"/>
  <p>{{name}}</p>

<a href="/images/0"><button>1</button></a>
<a href="/images/1"><button>2</button></a>
<a href="/images/2"><button>3</button></a>

